[Unit]
Description=Octo Master
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=300
ExecStartPre=-/usr/bin/docker kill octo-master
ExecStartPre=-/usr/bin/docker rm octo-master
ExecStartPre=/usr/bin/docker pull octoblu/octo-master
ExecStart=/bin/sh -c '/usr/bin/docker run \
  --name octo-master \
  -v /var/run/fleet.sock:/var/run/fleet.sock \
  -e DEBUG=octo-master* \
  -e MESHBLU_DEVICE_UUID=$(/usr/bin/etcdctl get /octo-master/uuid) \
  -e MESHBLU_DEVICE_TOKEN=$(/usr/bin/etcdctl get /octo-master/token) \
  octoblu/octo-master'

[Install]
WantedBy=multi-user.target
