[Unit]
Description=Octo Master
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=300
ExecStartPre=-/usr/bin/docker kill octo-master-%i
ExecStartPre=-/usr/bin/docker kill register-octo-master-%i
ExecStartPre=-/usr/bin/docker rm octo-master-%i
ExecStartPre=-/usr/bin/docker rm register-octo-master-%i
ExecStartPre=/usr/bin/docker pull octoblu/octo-master:latest
ExecStartPre=/usr/bin/docker pull octoblu/meshblu-util:register
ExecStartPre=/usr/bin/etcdctl get /meshblu/host || /usr/bin/echo "etcd did not contain /meshblu/host" && exit 1
ExecStartPre=/usr/bin/etcdctl get /meshblu/port || /usr/bin/echo "etcd did not contain /meshblu/port" && exit 1
ExecStartPre=/usr/bin/etcdctl get /octoblu/uuid || /usr/bin/echo "etcd did not contain /octoblu/uuid" && exit 1
ExecStartPre=/bin/sh -c '/usr/bin/docker run \
  --rm \
  --name register-octo-master-%i \
  octoblu/meshblu-util:register \
    --meshblu-host $(/usr/bin/etcdctl get /meshblu/host) \
    --meshblu-port $(/usr/bin/etcdctl get /meshblu/port) \
    --owner-uuid $(/usr/bin/etcdctl get /octoblu/uuid) \
    --type octoblu:octo-master \
    --etcd-peer http://$(/usr/bin/ifconfig docker0 | grep "inet " | awk "{print \$2}"):4001 \
    --etcd-dir octo-master-%i'
ExecStart=/bin/sh -c '/usr/bin/docker run \
  --name octo-master-%i \
  -v /var/run/fleet.sock:/var/run/fleet.sock \
  -e DEBUG=octo-master* \
  -e MESHBLU_HOST=$(/usr/bin/etcdctl get /meshblu/host) \
  -e MESHBLU_PORT=$(/usr/bin/etcdctl get /meshblu/port) \
  -e MESHBLU_DEVICE_UUID=$(/usr/bin/etcdctl get /octo-master-%i/uuid) \
  -e MESHBLU_DEVICE_TOKEN=$(/usr/bin/etcdctl get /octo-master-%i/token) \
  -e DEBUG=octo-master* \
  octoblu/octo-master:latest'

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=octo-master@*.service
