[Unit]
Description=Update etcd with vulcand location
BindsTo=vulcand.service
After=vulcand.service

[Service]
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStart=/bin/sh -c "/usr/bin/echo 'Adding vulcand host to etcd' && \
  /usr/bin/etcdctl set /vulcand/host ${COREOS_PUBLIC_IPV4} \
"

ExecStop=/bin/sh -c "/usr/bin/echo 'Removing server from etcd' && \
    /usr/bin/etcdctl rm /vulcand/host \
"

[X-Fleet]
X-ConditionMachineOf=vulcand.service
