id: octo-master-controller
kind: ReplicationController
apiVersion: v1beta1
labels:
  name: octo-master
  version: "$SHORT_COMMIT"
desiredState:
  replicas: 1
  replicaSelector:
    name: octo-master
    version: "$SHORT_COMMIT"
  podTemplate:
    labels:
      name: octo-master
      app: octo-master
      version: "$SHORT_COMMIT"
    desiredState:
      manifest:
        version: v1beta1
        id: octo-master
        containers:
          - name: octo-master
            image: octoblu/octo-master:$SHORT_COMMIT
            volumeMounts:
              - name: kubernetes-config
                mountPath: /root/.kube
            env:
              - name: MESHBLU_DEVICE_UUID
                value: "$MESHBLU_DEVICE_UUID"
              - name: MESHBLU_DEVICE_TOKEN
                value: "$MESHBLU_DEVICE_TOKEN"
              - name: MESHBLU_SERVER
                value: "$MESHBLU_SERVER"
              - name: MESHBLU_PORT
                value: "$MESHBLU_PORT"
        volumes:
          - name: kubernetes-config
            source:
              hostDir:
                path: /data/read-only/kubernetes
